{% load static %}
<!DOCTYPE html>
<html lang="en">
<head> <link rel="stylesheet" href="{% static 'postcss/dashh.css' %}">
    <link rel="stylesheet" href="{% static 'postcss/ticket.css' %}">
    <link rel="stylesheet" href="{% static 'postcss/revtick.css' %}">
    <link rel="stylesheet" href="{% static 'postcss/follow.css' %}">
    <link rel="stylesheet" href="{% static 'postcss/mypost.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
   
</head>
<body>

    <header>
        <div class="img_name">
            <div class="imagedashdiv">
                {% if not profilePhoto.image %}
                <img src="" alt="">
                {% else %}
                <img src="{{profilePhoto.image.url}}" alt="">
                {% endif %}
            </div>
            <div class="h3div">
                <h3>{{user.username}}</h3>
            </div>
        </div>
    
        <div>
            {% if user.is_authenticated %}
            <nav class="feednav">
                <ul class="list">
                    <li>
                        <a href="{% url 'postapp:mydash_page' %}">Dashboard</a>
                    </li>
                    <li>
                        <a href="{% url 'postapp:post_page' %}">My Posts</a>
                    </li>
                    <li>
                        <a href="{% url 'postapp:follow_page' %}">Following</a>
                        <li>
                            <a href="{% url 'postapp:profile_page' %}">Profile</a>
                        </li>
                        <li>
                            <a href="{% url 'regisapp:logout_page' %}">Logout</a>
                        </li>
                    </li>
                </ul>
            </nav>
            {% endif %}
        </div>
    </header>
    

    {% block content %}
    {% endblock content %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.js"></script>
</body>
</html>










