{% extends 'regisapp/basic.html' %}
{% block title %} register {% endblock title %}
{% block content %}
<section class="registersection">
    <div class="regist">
        <div class="h1txt">
            <h1>Sign Up</h1>
        </div>
        <form method="Post" class="regis_form">
            {%  csrf_token  %}
            {{form.as_p}}
            <div class="submitdiv">
                <a href="{% url 'regisapp:login_page' %}">Go Back</a>
                <div>
                    <input type="submit" value="Sign Up">
                </div>
                
            </div>
        </form>
        
        
    </div>
</section>



{% endblock content %}